parameters:
    stubFiles:
        - stubs/Pest.stub

services:
    -
        class: PestStan\Type\Pest\ExpectFunctionDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    # TODO: Enable when PHPStan supports type narrowing for fluent assertion chains
    # -
    #     class: PestStan\Type\Pest\ExpectationTypeSpecifyingExtension
    #     tags:
    #         - phpstan.typeSpecifier.methodTypeSpecifyingExtension

    # Extension that determines $this type in test closures
    # Parses uses() and pest()->extend() calls directly from file AST
    -
        class: PestStan\Type\Pest\TestClosureThisTypeExtension
        tags:
            - phpstan.functionParameterClosureThisExtension
