services:
    -
        class: PestStan\Type\Pest\PestFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: PestStan\Type\Pest\ExpectationMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PestStan\Type\Pest\TestClosureThisTypeExtension
        tags:
            - phpstan.functionParameterClosureThisExtension
