parameters:
    stubFiles:
        - stubs/Pest.stub

services:
    -
        class: PestStan\Type\Pest\ExpectFunctionDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: PestStan\Type\Pest\ExpectationTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension

    -
        class: PestStan\Type\Pest\TestClosureThisTypeExtension
        tags:
            - phpstan.functionParameterClosureThisExtension
